<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.miaowmere.moviecatalogue">

    <uses-permission android:name="android.permission.INTERNET" />

    <application
        android:allowBackup="true"
        android:icon="@drawable/ic_movie"
        android:label="@string/app_name"
        android:roundIcon="@drawable/ic_round_movie"
        android:supportsRtl="true"
        android:theme="@style/Theme.MovieCatalogue">
        <activity android:name=".activities.TelevisionDetailActivity"></activity>
        <activity android:name=".activities.MovieDetailActivity" />
        <activity android:name=".activities.MainActivity">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
    </application>

</manifest>